<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only boogstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Cadastro de Clientes</title>
</head>
<body>
    <!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>
  <main class="container">
    <div class="row"> 
        <div class="col-sm-12">
            <h1>Cadastro de Clientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm12">
            <form method="post" th:object="${cliente}"> 
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" 
                    th:field="*{nome}">
                    <div class="mb-3">
                        <label for="dataNascimento" class="form-label">Data de nascimento </label>
                        <input type="date" class="form-control" id="dataNascimento" 
                        th:field="*{dataNascimento}">
                    </div>
                    <div class="mb3">
                        <label for="profissao" class="form-label">Profissao</label>
                        <input type="text" class="form-control" id="profissao"
                         th:field="*{profissao}">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</main>
    



    <!-- JavaScript Bundle with Popper bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>